
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #f18fe9, #f8cdda, #ebcbf5);
    margin: 0;
    padding: 0;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 20px;
}
h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}
.link {
    display: block;
    text-decoration: none;
    color: #fff;
    background: rosybrown;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 30px;
    font-size: 18px;
}
.link:hover {
    background: #e4b8f8;
}
